sudo: false
language: node_js
node_js:
- node
install:
- npm install -g codecov
script:
- npm run test
- istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
- codecov
deploy:
  provider: npm
  email: kkitokkito@gmail.com
  api_key:
    secure: MV6gjE4MZmNkb/2UcA2YaQVmnybgUbwQpqbVLKAw/VyAVxPtzlJnNCQd18VSY0vnwADWXr+PRqz5OpdGdnfPuIr0pKMtXYtqlit9pDJh9gDla1l6bX7n/U91/OmRMjZO3AakIoj8DzUR6zFrH8DRJi368g30UB77mjZkEjApOKZ0+cJP7AXZS7glCr+uV/UkcMfUB2QrNuC+Ut7ohzKrF+C4Ne+TZFLe9vgX9o2Az6i+gFGY9yz9iVtp7TvoYUu8R14uOOGxThs0F8Bvag2vlJJBxBL9Kh3Dyrnnp8H8HiNXbspBA4s/fUwrlGI1doaszxzLZW9nExdfU0A+DUvlPrQ40TYv1M0GnCZPFkj5cdeZkwGz76ckqj7b3qplzJbIEOo1KbOhljjszcKIWm3uBA8ZSBhQGyHG27XVeU9eWdY0yBH7Sof5D0b3ooqtXJTcfMMiIFbhVNJRdJmoDsAZOoSowdAKdjohBtmrkJZOzY0sNsA4/Ii24ukSUPi4pdG91+gLaWmbbn7MVo8Ur+fEVnmzNzB8rKWSlCpJxZ0IqEJePewSMIfkD9b/p1o4CHNVD6tMhW41q6e7vGfqolt+A/LSXeKNNYmkItXDffdQ44As/xIuK0YXk1Hcx/yp+/UrHWnBrUjdMnG45o+LFiCpHvy3UXhaWRH50KOS+xnKSdk=
  on:
    tags: true
    repo: kkito/generator-node-typescript
